{% extends 'home.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">


    APP FOR MANAGING CONFERENCE ROOMS:
    <br>
    """
    <br>
    YOU CAN ADD NEW ROOM,
    <br>
    EDIT IT, BOOK DATES,
    <br>
    SEARCH IF ROOM MEETS YOUR REQUIREMENTS,
    <br>
    CHECK IF ROOM IS AVAILABLE AT PREFERABLE DATES,
    <br>

    <br>
    MADE BY P-FURY AT CODERS_LAB WORKSHOP
    <br>
    -ENJOY-
    <br>
    """

{% endblock %}